{%extends 'header.html'%}

{% block body %}
    <div class="container" style="padding: 1rem;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio 
        repudiandae nesciunt, eaque dicta eius tempora! Expedita saepe sint, 
        distinctio sed totam eum provident exercitationem minus hic repellat 
        quis magni, perspiciatis consequatur et ullam quia laborum, odio delectus 
        doloremque maiores adipisci fugit. Voluptatibus velit quas consequatur, 
        sint sunt dolore asperiores quibusdam?
    </div>
{% endblock %}