{% if not user.is_authenticated %}
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'login' %}"> Login</a>
    &nbsp;
    <a class="btn btn-outline-success my-2 my-sm-0"href="{% url 'signup' %}">Signup</a>
{% else %}
    <a class="btn btn-outline-danger my-2 my-sm-0" href="javascript:{document.getElementById('logout').submit()}" onclick="" >Logout</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="hidden" />
    </form>

{% endif %}